:root {
  --font_primary: Roboto;
  --color_primary: #ffcf54;
  --color_secondary: #ff7433;
  --color_background: #1b1724;
  --color_title: #ecd8bd;
  --color_text: #fff;
  --color_danger: #ee5749;
  --color_warning: #fbc654;
  --color_info: #6abfed;
  --color_success: #03996e;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--font_primary);
  background-color: var(--color_background);
  color: var(--color_text);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1.6rem;

  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f5f5f5;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #716e6e;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}

p,
ul,
li {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Mobile
@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1319) {
  .container {
    max-width: 1319;
  }
}

// Desktop
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}
